@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
body{
    margin: 0;
    padding:40px;
    font-family: 'Karla', sans-serif;
      background-color: #262627;
    color:white;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
 .logo{
    font-size:calc(1rem + 1vw);
 }
 #editor { 
    position: fixed;
    top:10vh;
    font-size:20px;
    right: 0;
    bottom: 0;
    left: 9%;
    overflow:auto;
    text-align: start;
    border-radius:5px;
    width:100%;
}

#sidebar{
    position: fixed;
    left: 1vw;
    top:20%;
    overflow:auto;
    text-align: start
}

[data-placeholder]:empty:before{
    content:attr(data-placeholder);
    color: #ccc;
    font-style: italic;
}

.nav{
    position: fixed;
    top:0;
    right: 0;
    left: 8%;
    background-color: #262627;
    color:white;
    padding: 10px;
    display: flex;
 
}

.nav ul{
    list-style: none;
   
}
.nav li{
    display: inline-block;
    margin: 0 10px;
}

.nav a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    padding: 10px;
    font-weight:400;
    font-size: 20px;
    
    border-radius: 5px;
}
a{
    cursor:pointer;
}


#folder{
    position: absolute;
    top:10%;
}
#icon {
    position: absolute;
    top:18%;
    left:2%;
}